<article class="container my-5" id="{{_id}}">
	<div class="card border border-dark">
		<div class="card-header bg-light container">
			<a href="{{link}}">
				<h2 class="text-center mx-auto">{{title}}</h2>
			</a>
		</div>
		<div class="card-body">
			<h4 class="text-center">Summary</h4>
			<p class="card-text">{{summary}}</p>
		</div>
		<div class="card-footer bg-white">
			<div class="container">
				<h5 class="text-center">Comments</h5>
				<form class="row" id="commentForm">
					<div class="col-md-10 col-sm-12">
						<div class="container">
							<textarea type="text" name="comments" class="w-100" id="comment_{{_id}}"></textarea>
							<input type="text" name="author" id="author_{{_id}}" class="mb-2 float-right" placeholder="Name">
						</div>
					</div>
					<div class="col-md-2 col-sm-12">
						<button type="submit" class="btn btn-primary float-right" data-id="{{_id}}" id="submit">Add a Comment</button>
					</div>
				</form>

				<div class="my-4">
					{{#each comments}}
					{{> comments/comments-block}}
					{{/each}}
				</div>

			</div>
		</div>
	</div>
</article>